:root {
  --base: #1e73be;
  --primary: #ffffff;
  --secondary: #777777;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

body {
  background: var(--primary);
  font-family: Helvetica, sans-serif;

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }

  /* // X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: 900em;
}

.text-color-base {
  color: var(--secondary);
}

.text-color-highlight {
  color: var(--base);
}

.text-center {
  text-align: center;
}

.box-area {
  width: 50%;
}

::placeholder {
  font-size: 16px;
}

.form-floating .email_error,
.form-floating .password_error {
  margin-top: 5px;
  width: auto;
  font-size: 14px;
  color: #c62828;
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-area {
    margin: 0 10px;
    width: 100%;
  }
}
