:root {
  --base: #1e73be;
  --primary: #ffffff;
  --secondary: #777777;
}

body {
  font-family: Helvetica, sans-serif;

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }

  /* // X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }
}

h1 {
  text-align: center;
  font-weight: 900em;
}

.box-area {
  width: 50%;
}

.text-color-base {
  color: var(--secondary);
}

.text-center {
  text-align: center;
}

.form-floating i {
  position: absolute;
  top: 20px;
  right: 10px;
  visibility: hidden;
}

.form-floating.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-floating.error i.fa-exclamation-circle {
  color: #be2020;
  visibility: visible;
}

.form-floating.error small {
  visibility: visible;
}

.form-floating small {
  color: #be2020;
  margin-left: 10px;
  visibility: hidden;
}

.form-floating.success input {
  border-color: #2ecc71;
}

.form-floating.error input {
  border-color: #be2020;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-area {
    margin: 0 10px;
    width: 100%;
  }
}
